---
import dahm from '@data/dahm.json';
import SchemaOrganization from './SchemaOrganization.astro';
const { title, description, seo, robots = 'index, follow' } = Astro.props;

const pageTitle = title?.length ? title + ' — ' + dahm.company_fullname : dahm.company_fullname;

const pathname: string = new URL(Astro.request.url).pathname;
let imageUrl = dahm.website_link + '/assets/logo_small2t.png';
let imageType = 'image/png';
if (seo) {
	const ogImage = dahm.seo.find(item => item.page === seo)?.og?.image;
	if (ogImage) {
		imageUrl = dahm.website_link + '/assets/' + ogImage.url;
		imageType = ogImage.type;
	}
}

// <link rel='preload' href='/fonts/Inter/Inter-VariableFont.ttf' as='font' type='font/truetype' />
---

<head>
	<meta charset='UTF-8' />
	<meta name='robots' content={robots} />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>{pageTitle}</title>
	{description?.length && <meta name='description' content={description} />}

	<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	<link rel='sitemap' href='/sitemap-index.xml' />

	<SchemaOrganization />

	<meta property='og:title' content={pageTitle} />
	<meta property='og:description' content={description} />
	<meta property='og:url' content={dahm.website_link + pathname} />
	<meta property='og:type' content='website' />
	<meta property='og:site_name' content={dahm.company_name} />
	<meta property='og:image' content={imageUrl} />
	<meta property='og:image:secure_url' content={imageUrl} />
	<meta property='og:image:type' content={imageType} />
	<meta property='og:image:width' content='1200' />
	<meta property='og:image:height' content='628' />
	<meta property='og:locale' content='de' />

	<link rel='preload' href='/fonts/Inter/InterVariable.woff2' as='font' type='font/woff2' crossorigin />
	<meta name='generator' content={Astro.generator} />
</head>
