---
import Dahm from '@data/dahm.json';
const { days, time } = Dahm.office_time;
const itemUnternehmen = Dahm.web_menu.find(item => item.folder === 'unternehmen');
if (!itemUnternehmen) console.error('Footer: Menu Error 1');

const itemImpressum = itemUnternehmen?.submenu?.find(item => item.name === 'Impressum');
const itemDatenschutz = itemUnternehmen?.submenu?.find(item => item.name === 'Datenschutz');
if (!itemImpressum) console.error('Footer: Menu Error 2');
if (!itemDatenschutz) console.error('Footer: Menu Error 3');

const current_year: string = new Date().getFullYear().toString();
---

<style>
	footer {
		--background-color-footer-up: #808080;
		--background-color-footer-down: #636363;
		--border-color-footer: #585858;

		width: 100%;
		max-width: 100vw;
		border-top: var(--border-thick) solid var(--border-color-footer);
		font-weight: 475;
		line-height: 1.15;
	}

	.footer-up {
		width: 100%;
		background-color: var(--background-color-footer-up);
		/* padding: 1.3em var(--padding-x-page); */
	}
	.footer-down {
		width: 100%;
		border-top: 1.5px solid var(--border-color-footer);
		background-color: var(--background-color-footer-down);
		/* padding: 0.4em var(--padding-x-page) 0.3em var(--padding-x-page); */
		font-size: 0.95em;
	}

	.footer-list-up {
		display: flex;
		column-gap: 2em;
		row-gap: 1.5em;
		flex-wrap: wrap;

		width: 100%;
		max-width: var(--max-width-page);
		margin: 0 auto;
		padding: 1.3em var(--padding-x-page);
	}
	.footer-list-up > * {
		flex-grow: 1;
	}

	.footer-up h5 {
		font-size: 0.88em;
	}

	.footer-up p {
		font-size: 0.85em;
	}
	.footer-up .top {
		padding-top: 0.3em;
	}
	.footer-up .big-top {
		padding-top: 1em;
	}

	.footer-list-down {
		display: flex;
		flex-wrap: wrap-reverse;
		column-gap: 5em;
		row-gap: 0.4em;
		line-height: 1;

		width: 100%;
		max-width: var(--max-width-page);
		margin: 0 auto;
		padding: 0.6em var(--padding-x-page) 0.5em var(--padding-x-page);
	}
	.footer-list-down .copyright {
		margin-right: auto;
		font-size: 0.88em;
		max-width: calc(100vw - 5em);
	}
	.footer-list-down .regulation {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2em;
		row-gap: 0.25em;
	}
	.footer-list-down a {
		display: inline-block;
	}

	footer a {
		transition: color 400ms ease-in-out;
	}

	@media screen and (max-width: 530px) {
		.footer-list-down .regulation {
			padding-right: 2.8em;
		}
	}
	@media (hover: hover) {
		footer a:hover {
			color: var(--color-dahm-bordo);
		}
	}
</style>

<footer>
	<div class='footer-up'>
		<div class='footer-list-up'>
			<div class='contacts-block'>
				<h5 class='company-name'>{Dahm.company_name.toUpperCase()}</h5>
				<p class='top'>{Dahm.address.street} {Dahm.address.building}</p>
				<p>{Dahm.address.zip} {Dahm.address.city}</p>
				<p class='big-top'><a href={'tel: ' + Dahm.telephone}>{Dahm.telephone}</a></p>
				<p class='top'><a href={'mailto: ' + Dahm.email}>{Dahm.email}</a></p>
			</div>
			<div class='available-block'>
				<h5>{'Telefonische Erreichbarkeit'.toUpperCase()}</h5>
				<p class='top'>{days.von}-{days.bis}: {time.von}-{time.bis} Uhr</p>
				<p>Sa: 10:00–13:00 Uhr</p>
				<h5 class='big-top'>{'Termine nach Vereinbarung'.toUpperCase()}</h5>
			</div>
		</div>
	</div>
	<div class='footer-down'>
		<div class='footer-list-down'>
			<div class='copyright'>© {current_year} {Dahm.company_fullname}</div>
			<div class='regulation'>
				{itemImpressum && <a href={`/${itemUnternehmen.folder}/${itemImpressum.url}/`}>{itemImpressum.name}</a>}
				{itemDatenschutz && <a href={`/${itemUnternehmen.folder}/${itemDatenschutz.url}/`}>{itemDatenschutz.name}</a>}
			</div>
		</div>
	</div>
</footer>
