---
import dahm from '@data/dahm.json';
const Norbert = dahm.team.find(p => p.sid === 'nor');
---

<article class='impressum'>
	<div>
		<h3>{dahm.company_fullname}</h3>
		<h4>Anschrift:</h4>
		<p>{dahm.address.street + ' ' + dahm.address.building}</p>
		<p>{dahm.address.zip + ' ' + dahm.address.city}</p>
		<h4>Kontakt:</h4>
		<p>Telefon: {dahm.telephone}</p>
		<p>E-mail: {dahm.email}</p>
		<h4>Geschäftsführer:</h4>
		{
			dahm.directors.map(director_sid => {
				const person = dahm.team.find(p => p.sid === director_sid);
				if (person) return <p>{person.name + ' ' + person.lastname}</p>;
				return null;
			})
		}
		<h4>Inhaltlich Verantwortlicher <span>gemäß § 10 III MDStV</span>:</h4>
		<p>{Norbert.name + ' ' + Norbert.lastname} (Anschrift wie oben)</p>
		<h4>Registereintrag:</h4>
		<p>Registergericht: {dahm.registration.gericht}</p>
		<p>Registernummer: {dahm.registration.gericht_nummer}</p>
		<p>Steuernummer: {dahm.registration.steuer_nummer}</p>
		<p>USt.-IdNr.: {dahm.registration.umsatz_id}</p>
		<h4>Aufsichtsbehörde:</h4>
		<p>Ordnungsamt der Stadt Hagen</p>
		<p>Gesetzliche Grundlagen: § 34 c Abs. 1 Nr. 1 und 4 GewO</p>
	</div>
	<div>
		<h3>Streitbeilegung der EU / OS-Plattform</h3>
		<p>
			Die Europäische Kommission stellt eine Plattform für die außergerichtliche Online-Streitbeilegung (OS-Plattform)
			bereit, die unter <a href='https://consumer-redress.ec.europa.eu/index_de' target='_blank' rel='noopener external'
				>https://consumer-redress.ec.europa.eu/index_de</a
			> abrufbar ist. Unsere E-Mail-Adresse lautet: {dahm.email}. Wir sind weder verpflichtet noch bereit, an dem
			Streitschlichtungsverfahren teilzunehmen.
		</p>
		<h3>Haftung für Inhalte</h3>
		<p>
			Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
			Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte
			oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
			Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
			allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
			Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden
			wir diese Inhalte umgehend entfernen.
		</p>

		<h3>Datenschutzhinweis</h3>
		<p>
			Ihre Angaben werden ausschließlich an den Immobilienanbieter weitergeleitet. Die gesetzlichen
			Datenschutzbestimmungen werden hierbei eingehalten. Es erfolgt weder ein Verkauf noch die Weitergabe Ihrer Daten
			und Angaben an unbefugte Dritte.
		</p>
	</div>
</article>

<style>
	.impressum {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2em;
		row-gap: 1.5em;
		padding-bottom: 1em;
	}
	.impressum > * {
		/* min-width: 200px; */
		flex-basis: 300px;
		flex-grow: 1;
	}
	.impressum h3 {
		font-size: 1.25em;
	}
	.impressum h4 {
		padding-top: 1em;
	}
	.impressum h4 span {
		font-weight: normal;
	}
	.impressum h3 + p {
		padding-top: 0.6em;
	}
	.impressum p + h3 {
		padding-top: 1.2em;
	}
</style>
