---
import { Icon } from 'astro-icon/components';

import dahm from '@data/dahm.json';
const { objects } = dahm;
objects.sort((obj1, obj2) => {
	let res: number = obj1.address.str.toLowerCase().localeCompare(obj2.address.str.toLowerCase(), 'de');
	if (!res) res = obj1.address.number.toLowerCase().localeCompare(obj2.address.number.toLowerCase(), 'de');
	if (!res) res = obj1.address.city.toLowerCase().localeCompare(obj2.address.city.toLowerCase(), 'de');
	return res;
});
---

<section class='objects'>
	<h3>Verwaltung</h3>
	<iframe
		width='100%'
		height='500px'
		frameborder='0'
		allowfullscreen
		allow='geolocation'
		src='//umap.openstreetmap.fr/de/map/dahm-immobilien-verwaltung-gmbh_1194597#10/51.3834/7.4487?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true'
	></iframe>
	{
		objects.map(object => {
			const objectName = dahm.object_types.find(type => type.sid === object.type)?.title;
			return (
				<div>
					<p class='object-address'>
						{object.address.str} {object.address.number}, {object.address.plz} {object.address.city}
					</p>
					<div class='object-card'>
						{object.person && (
							<div>
								{objectName && (
									<div class='contact-partner-info'>
										<p class='name'>Objekt:</p>
										<p>{objectName}</p>
									</div>
								)}
								<p class='card-title'>Ansprechpartner</p>
								{object.person.map(item => {
									const who = dahm.team.find(t => t.sid === item);
									if (!who) return null;
									return (
										<div class='contact-partner-info'>
											<p class='name'>
												{who.name} {who.lastname}:
											</p>
											<div>
												<div class='icon-flex'>
													<Icon name='email' />
													<a href={'mailto: ' + who.email}>{who.email}</a>
												</div>
												<div class='icon-flex'>
													<Icon name='phone' />
													<a href={'tel: ' + who.telephone}>{who.telephone}</a>
												</div>
											</div>
										</div>
									);
								})}
								<p class='card-title'>
									<a href='' target='_blank' rel='noopener external'>
										Auf Google Maps
									</a>
								</p>
								{/* <div class='icon-flex'>
									<p class='card-title'>
										<a href='' target='_blank' rel='noopener external'>
											Auf Google Maps
										</a>
									</p>
									<Icon name='geo' />
								</div> */}
							</div>
						)}
					</div>
				</div>
			);
		})
	}
</section>

<style>
	.objects h3 {
		padding-bottom: 0.5em;
	}
	.objects .object-address {
		/* display: flex; */
		cursor: pointer;
		margin: 0.3em 0;
		width: max-content;
	}
	.objects .object-card {
		transform-origin: 0 0;
		overflow: hidden;
		transition: max-height 500ms ease-in-out;
		max-height: 0;
	}
	.objects .object-card > div {
		padding: 0.5em 0 1.5em 3em;
	}

	.object-card .card-title {
		font-weight: 540;
		padding-top: 0.4em;
	}
	.contact-partner-info {
		display: flex;
		/* column-gap: 1.5em; */
		flex-wrap: wrap;
	}
	.contact-partner-info .name {
		min-width: 8em;
	}
	.contact-partner-info .icon-flex {
		column-gap: 0.5em;
		margin-left: 1.5em;
		min-width: 13em;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const objectItems = document.querySelectorAll('.object-address');
		objectItems.forEach(item =>
			item.addEventListener('click', () => {
				const card = item.nextElementSibling;
				if (!card) return;

				if (card.style.maxHeight) {
					card.style.maxHeight = null;
					// card.style.transform = 'scaleY(0)';
				} else {
					objectItems.forEach(obj => {
						if (obj.nextElementSibling) obj.nextElementSibling.style.maxHeight = null;
					});
					card.style.maxHeight = card.scrollHeight + 'px';
					// card.style.transform = 'scaleY(1)';
				}
			})
		);
	});
</script>
