---
import { Icon } from 'astro-icon/components';

import dahm from '@data/dahm.json';
import { object } from 'astro:schema';
const { objects } = dahm;
objects.sort((obj1, obj2) => {
	let res: number = obj1.address.str.toLowerCase().localeCompare(obj2.address.str.toLowerCase(), 'de');
	if (!res) res = obj1.address.number.toLowerCase().localeCompare(obj2.address.number.toLowerCase(), 'de');
	if (!res) res = obj1.address.city.toLowerCase().localeCompare(obj2.address.city.toLowerCase(), 'de');
	return res;
});
---

<section class='objects'>
	<h3>Verwaltung</h3>
	{
		objects.map(object => {
			return (
				<div>
					<p class='object-item'>
						{object.address.str} {object.address.number}, {object.address.plz} {object.address.city}
					</p>
					<div class='object-card'>
						{object.person && (
							<div>
								<p class='card-title'>{dahm.company_name} Ansprechpartner</p>
								{object.person.map(item => {
									const who = dahm.team.find(t => t.sid === item);
									if (!who) return null;
									return (
										<div class='dahm-partner-info'>
											<p>
												{who.name} {who.lastname}:
											</p>
											<div>
												<a href={'mailto: ' + who.email} class='icon-flex'>
													<Icon name='email' />
													{who.email}
												</a>
												<a href={'tel: ' + who.telephone} class='icon-flex'>
													<Icon name='phone' />
													{who.telephone}
												</a>
											</div>
										</div>
									);
								})}
								<p class='card-title'>Hausmeister:</p>
								<div class='icon-flex'>
									<p class='card-title'>
										<a href='' target='_blank' rel='noopener external'>
											Auf Google Maps
										</a>
									</p>
									<Icon name='geo' />
								</div>
							</div>
						)}
					</div>
				</div>
			);
		})
	}
</section>

<style>
	.objects h3 {
		padding-bottom: 0.5em;
	}
	.objects .object-card {
		transform-origin: 0 0;
		overflow: hidden;
		transition: max-height 500ms ease-in-out;
		max-height: 0;
	}
	.objects .object-card > div {
		padding: 0.5em 0 1.5em 3.5em;
	}

	.object-card .card-title {
		font-weight: 540;
		padding-top: 0.4em;
	}
	.dahm-partner-info {
		display: flex;
		column-gap: 1.5em;
	}
	.dahm-partner-info .icon-flex {
		column-gap: 0.5em;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const objectItems = document.querySelectorAll('.object-item');
		objectItems.forEach(item =>
			item.addEventListener('click', () => {
				const card = item.nextElementSibling;
				if (!card) return;

				if (card.style.maxHeight) {
					card.style.maxHeight = null;
					// card.style.transform = 'scaleY(0)';
				} else {
					objectItems.forEach(obj => {
						if (obj.nextElementSibling) obj.nextElementSibling.style.maxHeight = null;
					});
					card.style.maxHeight = card.scrollHeight + 'px';
					// card.style.transform = 'scaleY(1)';
				}
			})
		);
	});
</script>
